img {
    width: 200px;
    height: 200px;
}

#chosen_selection {
    display: grid;
    place-items: center;
    row-gap: 50px;
}

#page_container {
    display: grid;
    margin-top: 135px;
    row-gap: 50px;
}

button {
    justify-self: center;
    width: 300px;
}
